/* Global element styling */

body {
    height: 100vh;
    width: 100vw;
    background: #108dc7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef8e38, #108dc7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef8e38, #108dc7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
}

h1 {
    padding-top: 20px;
    font-family: 'Nosifer', cursive;
}

h5 {
    font-family: 'Nosifer', cursive;
}

h4 {
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

/* Styling by class */

.showcase {
    /* background: #FFF; */
    height: 100vh;
    background: #108dc7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef8e38, #108dc7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef8e38, #108dc7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%; 
}



.card {
    box-shadow: 0px 1px 6px 3px rgba(0, 0, 0, 0.56);
    font-family: 'Manuale', serif;
}

.card-text {
    font-size: 20px;
}

.card-title {
    text-shadow: 2px 2px 5px rgb(131, 131, 131);
}

.card .btn {
    font-size: 20px;
}

.input-group-addon {
    margin: 0 !important;
    padding: 0 !important;
    max-height: 100px;
    max-width: 100px;
}

.logo {
    color: #ffffff;
    text-shadow: 2px 2px 2px black;
}

/* Styling by ID */

#display-result h3 {
  background-color: #F4F4F4;
}

#social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 5%;
    
}

#header-image {
    margin-left: 10%;
    width: 75%;
}

#logo-credit {
    text-shadow: 1px 1px 3px white;
}

#Wikipedia {
    font-size: 20px;
}

/* Styling for social media icons */

#twitter:hover {
    cursor: pointer;
}

#gitHub:hover {
    cursor: pointer;
}

#gitHub {
    padding-left: 20%;
}

#twitter {
    padding-left: 20%;
}

/* Media Queries for large screens */
@media (min-width: 1000px) {
    #social-icons {
        justify-content: space-between;
    }
}


