/* Styling by ID attribute */
#quote-box {
  display: flex;
  width: 100vw;
  /* temp assignment */
  height: 50vh;
  align-items: center;
  justify-content: center;

}

/* Styling by class */
.top-section {
  background: #f4f4f4;
  width: 50%;
  height: 50%;
  text-align: center;
}